body{
    margin:25px 20px;
    padding:25px;
    
}
div{
    border-radius: 5px;
    background:lightgrey;
}
.header-text{
    text-align:center;
}
h1{
    font-weight: bolder;
}
.image-head{
  background: #292626;
  padding-top:20px;
  text-align: center;
  padding-left:-60px;
  margin:0 17px;
  color:green;
  font-weight: 900;


}
img{
    display: block;
    margin:0 auto;
    width:150vh;
    min-height:80vh;
}
.footer-section{
  padding: 30px 10px;
  
}
.footer-title{
    font-style: bold;
    font-weight: 900;
    text-align: center;
    
}
ul{
    padding:10px 0;
    display: block;
    width:550px;
    margin:0 auto;
}
li{
    padding:10px;
}
.footer-life{
    padding:10px; 
    width:550px;
    margin:0 auto;
    font-style: italic;
}
.last{
    padding-left:220px;
    padding-top:35px;
    width:1200px;
    font-weight: 900;
    font-size: 20px;
}